.btn {
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db  51%, #2c3e50  100%);
    margin: 1rem;
    font-size: smaller;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 0.6rem;
    display: block;
    width: auto;
  }

  .btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }