#content-container{
    min-height: 100vh;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
#content{
    background-image: linear-gradient(to right, #2c3e50 0%, #3498db  51%, #2c3e50  100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px #eee;
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    line-height: 1.5rem;
    font-size: 1rem; 
    font-family: 'Montserrat', sans-serif;
}
.service-card{
    min-width: 14rem;
    width: 100%;
}
